{% extends "base.html" %}

<!-- コンテンツ -->
{% block content %}
<div class="container">
  <div class="col-md-6 offset-md-3">
    <div class="card mt-3 mb-3 bg-light">
      <!-- カードヘッダー -->
      <div class="card-header bg-success text-light">
        <h4>Change Password Done</h4>
      </div>
      <!-- カードボディー -->
      <div class="card-body">
        <p>パスワードを更新しました。</p>
        <hr>
        <a href="{% url 'account:my_page' user.pk %}">My page</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}